<div id="modal">
    <div class="modal-header">
        <button type="button" class="laf-modal-close pull-right" ng-click="modal.cancel()"></button>
        <h3 class="modal-title"><span ng-bind="modal.state"></span> Document</h3>
    </div>
    <div class="modal-body" style="overflow-y:auto;max-height:560px;">
        <table class="table">
            <tr ng-show="form.showMultiple">
                <td class="col-md-6"><label>Upload Multiple Files:</label></td>
                <td class="col-md-6"><input type="checkbox" ng-model="document.multiples" ng-change="checkMultiples()" />&nbsp;&nbsp;Check to upload multiple files</td>
            </tr>
            <tr ng-if="!document.multiples">
                <td class="col-md-6"><label>Title/Description: </label><span class="required">*</span></td>
                <td class="col-md-6"><textarea ng-model="document.title" ng-required="true" class="form-control" placeholder="Describe your document here"  /></td>
            </tr>
            <tr>
                <td class="col-md-6"><label>Document Type: </label><span class="required">*</span></td>
                <td class="col-md-6">
                    <select data-chosen="{width:'100%'}" id="docTypes" ng-model="document.docType" data-ng-options="type for type in document.docTypes" data-placeholder="&nbsp;&nbsp;Select one Document Type" class="form-control chosen-select" >
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-md-6"><label>Group: </label><span class="required">*</span></td>
                <td class="col-md-6">
                    <select data-chosen="{width:'100%'}" id="groups" ng-model="document.groups"  ng-options="group for group in document.allGroups" select-change="updateIssues" data-placeholder="&nbsp;&nbsp;Select one or more Groups" multiple class="form-control chosen-select">    
                    </select>
                </td>
            </tr>
            <tr>
                <td class="col-md-2"><label>Issue: </label><span class="required">*</span></td>
                <td class="col-md-10">
                    <select data-chosen="{width:'100%'}" id="issues" ng-model="document.issues" ng-options="item.issue group by item.group for item in document.allIssues" data-placeholder="&nbsp;&nbsp;Select one or more Issues" multiple class="form-control chosen-select">
                    </select>
                </td>
            </tr>

            <tr>
                <td class="col-md-6"><label>Additional Tags: </label><br />(separate by comma)</td>
                <td class="col-md-6"><textarea ng-model="document.taxKeywords" ng-required="true" class="form-control" placeholder="Add your own tags here"  /></td>
            </tr>
            <tr>
                <td class="col-md-6"><label>Context/Caveat: </label></td>
                <td class="col-md-6"><textarea ng-model="document.context" ng-required="false" class="form-control" placeholder="Describe how to use your document here"  /></td>
            </tr>
            <tr>
                <td class="col-md-6"><label>Author: </label></td>
                <td class="col-md-6"><input type="text" ng-model="document.author" ng-required="false" class="form-control" placeholder="Edit authors’ names if appropriate"  /></td>
            </tr>


            <tr ng-if="!document.multiples" ng-hide="isUpdating">
                <td class="col-md-6"><div data-nv-file-upload=""  ng-model="document.files" data-btn-text="choose file" data-btn-class="btn btn-default btn-sm" data-is-required="true" data-is-required-class="required" data-file-name="document.fileName" upload-immediately="false"></div></td>
                <td class="col-md-6"><input type="text" data-ng-model="document.fileName" data-ng-required="true" class="form-control" readonly /></td>
            </tr>
            <tr ng-if="document.multiples" ng-hide="isUpdating">
                <td class="col-md-6"><label>Drop Files:</label>
                    <ul>
                        <li data-ng-repeat="f in document.files" style="font:smaller">{{f.name}}</li>
                    </ul>
                </td>
                <td class="col-md-6">
                    <div>
                        <div data-ngf-drop="true" data-ngf-select="true" data-ng-model="document.files"
                            data-ngf-drag-over-class="dragover" data-ngf-multiple="true" data-ngf-allow-dir="true" data-ngf-keep="true"
                            data-accept="image/*,application/*" class="drop-box" style="cursor:pointer;">Drop files here or click to browse and add files</div>
                        <div data-ngf-no-file-drop="false">File Drag/Drop is not supported for this browser</div>
                        <div data-ng-if="files">Files:</div>
                    </div>
                </td>
            </tr>
            </table>
        </div>
    <div class="modal-footer">
        <span class="error-text pull-left" data-ng-show="!form.isValid"><i class="fa fa-exclamation-triangle"></i>&nbsp;&nbsp;<span data-ng-bind="form.error.message"></span></span>
        <span class="pull-left" data-ng-show="form.isSaving"><span class="laf-spinner"></span><span class="progress-text" data-ng-bind="form.progress.message"></span></span>
        <!-- messaging directive -->
        <!--<span modal-messaging="" data-show-error="!form.isValid" data-show-message="form.isSaving" data-error-message="form.error.message" data-progress-message="form.progress.message" data-is-sticky="form.isSticky"></span>-->
        <button class="btn btn-warning" data-ng-click="modal.cancel()" ng-disabled="false">Close</button>
        <button class="btn btn-success" data-ng-click="modal.save()" ng-show="!isUpdating" ng-disabled="false">Upload</button>
        <button class="btn btn-success" data-ng-click="modal.save()" ng-show="isUpdating" ng-disabled="false">Save</button>
    </div>
</div>
