<div class="row">
  <div class="col-md-12">
    <h2>Application Initialization</h2>
    <div>Initialization includes verifying your site has the required lists and libraries</div>
    <div>This setup routine will verify or create the following lists, libraries, and subsites</div>
    <div>
      <h3>Lists</h3>
      <ul>
        <li>Events: Outreach</li>
        <li>Events: Training</li>
        <li>Events: Upcoming</li>
      </ul>
    </div>
    <div>
      <h3>Libraries</h3>
      <ul>
        <li>Documents</li>
      </ul>
    </div>
    <div>
      <h3>Subsites</h3>
      <ul>
        <li>Blog</li>
      </ul>
    </div>
    <div>Click "Continue Setup" below to create these assets.</div>
    <div style="margin-top:15px;"></div>
    <div class="col-xs-2">
        <a ui-sref="termstore-values" class="btn btn-block btn-info">
        Continue Setup <span class="glyphicon glyphicon-circle-arrow-right" style="margin-left:5px; margin-top:2px;"></span>
        </a>
    </div>
  </div>
</div>
