<div style="min-height:300px;">
	<h1>Welcome to LegalPortal a SharePoint portal application.</h1>
	<div>
		It looks like this is your first time using LegalPortal.
	</div>
	<div>
		There are a few configuration steps we need to walk through to initialize the application for your first use.
	</div>
	<div>
		This should be quick to set-up only a few minutes of your time.
	</div>
	<div class="spacer" style="margin-top:20px;"></div>
	<a class="btn btn-success" data-ui-sref="config-setup">Get Started</a>
</div>
